<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Sidebar -->
<div th:fragment="sidebar" class="col-md-3">
    <a th:href="@{/}">
        <img th:src="${logoImage}" alt="Logo" class="logo">
    </a>
    <nav class="sidebar-nav">
        <div class="nav flex-column">
            <a class="nav-link" href="/cart"><i class="bi bi-cart-fill"></i> Carrinho</a>
            <a class="nav-link" href="#"><i class="bi bi-box2-heart-fill"></i> Encomendas</a>
            <a class="nav-link" href="/donut-menu"><i class="bi bi-journals"></i> Cardápio</a>
            <a class="nav-link" href="#"><i class="bi bi-whatsapp"></i> Contato</a>
            <a class="nav-link" href="#"><i class="bi bi-emoji-surprise"></i> Novidades</a>
            <a class="nav-link" href="#"><i class="bi bi-instagram"></i> Instagram</a>
        </div>
    </nav>
</div>